@font-face {
  font-family: 'KyoboHand';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/KyoboHand.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "KyoboHand";
  /* background: url(./images/background.png);
  background-repeat: no-repeat; */
}

ol,
ul {
  list-style: none;
}

input {
  border: none;
  outline: none;
}

button {
  border: none;
  background: transparent;
}